<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title> Gerenciador de Atividades </title>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/activityForm.css">
</head>
<body>
  <header class="app-header">
    <h1> Rotina Semanal</h1>
  </header>

  <main class="container">
    <%- body %>
  </main>

  <script src="/js/collapsible.js"></script>
</body>
</html>
